body
{
    background-color: rgb(160, 254, 160);
}
#score
{
    font-size: 30px;
    margin-left: 10px;
}
#timer
{
    font-size: 30px;
    float: right;
    margin-right: 10px;
}
#show_sketch
{
    font-size: 20px;
    float: right;
}
#confidence
{
    font-size: 20px;
}
#sketch
{
    color: red;
    font-size: 20px;
}
#QuickDraw
{
    background-color: white;
    color: blue;
}
